*{
    margin: 0;
    padding: 0;
}/*resentando*/

header > img{
    height: 20px;
    width: auto;
    padding: 5px;
}
header > h1{
    padding: 5px;
    font-size: 25px;
    margin-right: 1010px;
}
header{
    padding: 0 20px;
    display: flex;
    background-color: mediumvioletred;
    align-items: center;
    justify-content: space-between;
}
div > img{
    height: 20px;
    width: auto;
    padding: 5px;
}

div > p{
    height: 20px;
    width: auto;
    padding: 5px;
}
nav{
    background-color: #f2d0e0;
}
div{
    display: flex;
    align-items: center;
}
main{
    display: flex;
}
span > img{
    width: 130px;
    height: auto;
}
span{
    width: 150px;
    height: auto;
    text-align: center;
    box-shadow: 2px 2px 2px darkgrey;
}
#titulo{
    font-weight: bold;
}
.principal{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
}
footer > p{
    align-items: center;
}
footer{
    margin-bottom: 0px;
    text-align: center;
    background-color: mediumvioletred;
    padding: 5px;
} 